.icon{
    position:fixed;
	position: absolute;
	top: 35px;
	left: 35px;
	height: 70px;
	width: 70px;
	float: left;
}
.icon.active .hamburger{
	background: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0,0,0,0);
}
.icon.active .hamburger:before{
	transform: rotate(45deg);
	top: 0px;
}
.icon.active .hamburger:after{
	transform: rotate(-45deg);
	top: 0px;
}
.hamburger{
	float: none;
	cursor: pointer;
	width: 50px;
	height: 6px;
	background:#F5EAEA;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}
.hamburger:before, .hamburger:after{
	content: '';
	position:absolute;
	background:#F5EAEA;
	width: 50px;
	height: 6px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}
.hamburger:before{
	top: -16px;
}
.hamburger:after{
	top: 16px;
}
.button{
    text-shadow: 0 2px 5px rgba(0,0,0,.2);
    text-align: center;
	font-size: 0px;
	height: 70px;
	width: 0px;
    float: left;
    transition-duration: .1s;
}
.button.active{
    font-size: 20px;
	width: 180px;
	transition-duration: .2s;
}
.buttonF{
	text-align: justify;
	height: 70px;
	width: 30px;
    float: left;
    transition-duration: .02s;
}
.buttonF.active{
    transition-duration: .4s;
    width: 70px;
}
.button:hover{
	background-color: #6dae7c;
}
@media only screen and (max-width: 906px) {
	.button.active{
		font-size: 13px;
		height: 50%;
		width: 180px;
		transition-duration: .2s;
	}

}